@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Custom scrollbar for mobile */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Smooth transitions */
* {
  -webkit-tap-highlight-color: transparent;
}
